<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @menu_item.unit_price %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@menu_item.category_id).name %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
