<p id="notice"><%= notice %></p>

<p>
  <strong>Ordering date:</strong>
  <%= @order.ordering_date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @order.remark %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
